.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.flex-item {
    flex: auto;
    width: fit-content;
}

.selector-item {
    flex: none;
    margin: 5px;
}

.clickable {
    cursor: pointer;
}

.item-padding {
    margin: 5px;
}

.list-item {
    margin-left: 20px;
}

.stretch-input {
    box-sizing: border-box;
    width: 100%;
}
